@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
<head>
    <!-- Meta -->
    <!-- Title -->
    <!-- Design -->
    <!-- Scripts -->
</head>
<body>
    <script src="=~/scripts/vendor.js"></script>
    @*<script src="=~/scripts/vendor.min.js"></script>*@

    @RenderBody()

    <script src="=~/scripts/core.js"></script>
    @*<script src="=~/scripts/core.min.js"></script>*@
</body>
</html>